/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

::selection {
  background-color: #f195d4;
  color: #fff; }

body {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #fff; }

.heading--main {
  font-size: 20rem;
  line-height: 18rem;
  color: #f195d4; }

.heading--sub {
  width: 50rem;
  font-size: 3rem;
  font-family: 'Nothing You Could Do', cursive;
  line-height: 18rem;
  color: #fff;
  position: absolute;
  left: 10rem; }

.about-header {
  font-size: 7rem;
  font-family: sans-serif;
  text-align: right;
  line-height: 8rem;
  width: 46%;
  height: 100%; }

.about-text {
  font-size: 1.52rem;
  font-family: sans-serif;
  text-align: left;
  line-height: 2rem;
  width: 51%;
  height: 100%;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: .9rem; }
  .about-text a:link, .about-text a:visited {
    color: #f195d4; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.music-player {
  z-index: 1000;
  background-color: #000;
  position: fixed;
  bottom: -10vh;
  left: 0;
  height: 10vh;
  width: 100%;
  transition: 1s; }
  .music-player__toggle {
    background-color: black;
    width: 150px;
    height: 40px;
    position: absolute;
    right: 10px;
    margin-top: -30px;
    border-radius: 5px 5px 0 0;
    cursor: pointer; }
    .music-player__toggle .toggle-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.5rem;
      width: 90%;
      text-align: center;
      font-family: sans-serif; }
  .music-player__album-cover {
    display: inline-block;
    height: 100%;
    width: 7rem;
    overflow: hidden;
    position: relative; }
    .music-player__album-cover__image {
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .music-player__details {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 2rem;
    font-size: 1.3rem; }
    .music-player__details--title {
      font-family: sans-serif; }
    .music-player__details--artist {
      font-family: nothing you could do; }
  .music-player__controls {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 15rem; }
    .music-player__controls .fas {
      color: #fff;
      margin-left: 2rem;
      cursor: pointer; }
      .music-player__controls .fas:hover {
        color: #f195d4; }
  .music-player__slidecontainer {
    position: absolute;
    width: 60%;
    height: 20%;
    top: 50%;
    transform: translateY(-50%);
    left: 38rem; }
    .music-player__slidecontainer .slider {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      -webkit-appearance: none;
      appearance: none;
      background: #333;
      outline: none;
      border-radius: 1rem; }
      .music-player__slidecontainer .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        /* Override default look */
        appearance: none;
        width: 2.5rem;
        /* Set a specific slider handle width */
        height: 2.5rem;
        /* Slider handle height */
        background: #f195d4;
        /* Green background */
        cursor: pointer;
        /* Cursor on hover */
        border-radius: 100%; }
      .music-player__slidecontainer .slider::-moz-range-thumb {
        width: 2.5rem;
        /* Set a specific slider handle width */
        height: 2.5rem;
        /* Slider handle height */
        background: #f195d4;
        /* Green background */
        cursor: pointer;
        /* Cursor on hover */ }
  .music-player__timestamp {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8rem;
    width: 3rem;
    height: 2.5rem; }
    .music-player__timestamp .timestamp-digits {
      font-size: 1.5rem;
      font-family: sans-serif; }

.socials {
  width: 50vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .socials__icon {
    transition: .4s; }
    .socials__icon:link, .socials__icon:visited {
      color: #D0B26C; }
    .socials__icon:hover {
      color: #f195d4; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(#000, #2F291A);
  position: relative; }
  .header__profile {
    position: absolute;
    width: 700px;
    right: 0;
    bottom: -10px; }
  .header__text-box {
    position: absolute;
    top: 6rem;
    left: 6rem;
    width: 50%; }

.section-socials {
  height: 10vh;
  width: 100%;
  background-color: #f7f7f7;
  position: absolute;
  z-index: 1;
  box-shadow: -1rem -1.5rem 4rem rgba(51, 51, 51, 0.8); }

.section-about {
  height: 100vh;
  width: 100%;
  background-color: #EBDEBE;
  background-image: url("../img/floralpattern.png");
  background-size: 30%;
  background-repeat: repeat;
  position: relative; }
  .section-about__content {
    position: absolute;
    left: 50%;
    top: 15rem;
    transform: translateX(-50%);
    width: 70vw;
    height: 50vh; }
    .section-about__content span {
      color: #f195d4; }
    .section-about__content a:link, .section-about__content a:visited {
      color: #f195d4;
      text-decoration: none; }
