.music-player {
    z-index: 1000;
    background-color: $color-black;
    position: fixed;
    bottom: 0;
    left: 0;

    height: 10vh;
    width: 100%;

    &__album-cover {
        display: inline-block;
        height: 100%;
        width: 7rem;
        overflow: hidden;
        position: relative;

        &__image {
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__details{
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 2rem;

        font-size: 1.3rem;

        &--title {
            font-family: sans-serif;
        }

        &--artist {
            font-family: nothing you could do;
        }




    }

    &__controls {
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 20rem;

        .fas {
            color: $color-white;
            margin-left: 2rem;
            cursor: pointer;

            &:hover {
                color: $color-primary;
            }
        }
    }

    
}