body {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: $color-white;
}


.heading {

    &--main {
        font-size: 20rem;
        line-height: 18rem;
        color: $color-primary;
    }
}
