body {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: $color-white;
}


.heading {


    &--main {
        font-size: 20rem;
        line-height: 18rem;
        color: $color-primary;
    }

    &--sub {
        width: 50rem;
        font-size: 3rem;
        font-family: 'Nothing You Could Do', cursive;
        line-height: 18rem;
        color: $color-white;
        position: absolute;
        left: 10rem;

        @include respond(tab-port) {
            margin-top: -2rem;
        }
    }
}

.about-header {
    font-size: 7rem;
    font-family: sans-serif;
    text-align: right;
    line-height: 8rem;
    width: 46%;
    height: 100%;

    @include respond(tab-port) {
        font-size: 6rem;
        width: 40%;
    }

}

.about-text {
    font-size: 1.52rem;
    font-family: sans-serif;
    text-align: left;
    line-height: 2rem;
    width: 51%;
    height: 100%;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: .9rem;


}