.section-socials  {
    height: 10vh;
    width: 100%;
    background-color:$color-grey-light-1;
    position: absolute;
    z-index: 1;
    box-shadow: -1rem -1.5rem 4rem rgba($color-grey-dark-3, .8);
}

.section-about  {
    height: 100rem;
    width: 100%;
    background-color:$color-secondary-light;
    background-image: url('../img/floralpattern.png');
    background-size: 30%;
    background-repeat: repeat;
    position: relative;

    @include respond(phone) {
        height: 80rem;
    }

    &__content {
        position: absolute;
        left: 50%;
        top: 15rem;
        transform: translateX(-50%);
        width: 70vw;
        height: 40vh;

        @include respond(tab-land) {
            width: 90vw;
        }

        span {
            color: $color-primary;
        }

        a {
            &:link,
            &:visited {
                color: $color-primary;
                text-decoration: none;
            };
        };
    }

}