.section-socials  {
    height: 10vh;
    width: 100%;
    background-color:$color-grey-light-1;
    position: absolute;
    z-index: 1;
    box-shadow: -1rem -1.5rem 4rem rgba($color-grey-dark-3, .8);
}

.section-about  {
    height: 117vh;
    width: 100%;
    background-color:$color-secondary-light;
    background-image: url('../img/floralpattern.png');
    background-size: 30%;
    background-repeat: repeat;
    position: relative;

    &__content {
        position: absolute;
        left: 50%;
        top: 15rem;
        transform: translateX(-50%);
        width: 70vw;
        height: 40vh;

        span {
            color: $color-primary;
        }

        a {
            &:link,
            &:visited {
                color: $color-primary;
                text-decoration: none;
            };
        };

  
    }

    &__images {
        position: absolute;
        left: 50%;
        top: 45rem;
        transform: translateX(-50%);
        width: 70vw;
        height: 40vh;
        text-align: center;


        [class^="about-image--"] {
            position: absolute;
            box-shadow: .3rem .3rem 1rem rgba($color-black, .8);
            transition: .8s;
            cursor: pointer;

            &:hover {
                transform: scale(1.2) translateY(-1rem);
                z-index: 1;
                box-shadow: .3rem .3rem 1.8rem rgba($color-black, .8);
            }
        }
        .about-image--1 {
            height: 14.2rem;
            left: 50rem;
        }
        .about-image--2 {
            height: 27.6rem;
            left: 20rem;
        }
        .about-image--3 {
            height: 12rem;
            left: 50rem;
            bottom: 0;
        }
    }



}