.section-about  {
    height: 100vh;
    width: 100%;
    background-color:$color-secondary-light;
    background-image: url('../img/floralpattern.png');
    background-size: 30%;
    background-repeat: repeat;
}